<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jnmd.liuwan.mapper.PassengerMapper">
	<resultMap type="Passenger" id="getPassenger">
		<id column="psgid" property="psgId"/>
		<result column="psgname" property="psgName"/>
		<result column="psgsex" property="psgSex"/>
		<result column="psgcountry" property="psgCountry"/>
		<result column="psgbirthday" property="psgBirthday"/>
		<result column="psgpaper" property="psgPaper"/>
		<result column="psgpapercode" property="psgPapercode" />
		<association property="userType" javaType="UserType" >
			<id column="tid" property="tid"/>
			<result column="tname" property="tname"/>
		</association>
		<association property="users" javaType="Users">
			<id column="uid" property="uid"/>
			<result column="username" property="userName"/>
		</association>
	</resultMap>
	
	<select id="getPassenger" parameterType="Integer" resultMap="getPassenger">
		select * from passenger ps,t_user t,usertype ut where ut.tid=ps.tid and ps.uid=#{0};
	</select>
  
  <insert id="savePassenger">	
		<selectKey keyColumn="psgid" keyProperty="psgId" resultType="int" order="AFTER">
			select @@identity as psgid;
		</selectKey>
		insert into passenger (psgname,tid,psgsex,psgcountry,psgbirthday,psgpaper,psgpapercode,uid) values (#{psgname},#{tid},#{psgsex},#{psgcountry},#{psgbirthday},#{psgpaper},#{psgpapercode},#{uid});
	</insert>
</mapper> 
