<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnmd.liuwan.mapper.PlaneRouteMapper">
	<insert id="savePlaneRoute">	
		<selectKey keyColumn="prId" keyProperty="prId" resultType="int" order="AFTER">
			select @@identity as prid;
		</selectKey>
		insert into plane_route (prReceive,prPhone,prAddress,prPostcode,prInvoiceType,prInvoiceTitle,uid) values (#{prReceive},#{prPhone},#{prAddress},#{prPostcode},#{prInvoiceType},#{prInvoiceTitle},#{uid});
	</insert>
</mapper>